<!DOCTYPE html>

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73132537-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-73132537-1');
    </script>

    <title>Итальянская косметика Kiko</title>
    <meta name="description" content="Интернет-магазин профессиональной косметики Kiko в Украине" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Итальянская косметика Kiko">
    <meta itemprop="description" content="Широкий ассортимент профессиональной итальянской косметики Kiko в Украине по доступным ценам">
    <meta itemprop="image" content="http://pp.vk.me/c630024/v630024032/afab/NobI5SlKWFI.jpg">

    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="косметика kiko, косметика кико, kiko в Украине, купить кико, купить косметику кико" />
    @*<meta name="keywords" content="KIKO, KIKO Make Up Milano, KIKO MILANO, косметика KIKO, KIKO cosmetics, KIKO интернет магазин, KIKO где купить косметику, KIKO в Украине, купить KIKO, купить косметику KIKO, косметика КИКО, косметика KIKO купить, KIKO блеск, KIKO тушь, KIKO помада, KIKO косметика купить, KIKO купить" />*@

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://levisage.com.ua" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Итальянская косметика Kiko" />
    <meta property="og:description" content="Интернет-магазин профессиональной косметики Kiko в Украине" />
    <meta property="og:image" content="https://pp.vk.me/c630024/v630024032/afab/NobI5SlKWFI.jpg" />

    @*<link href="~/Content/SiteStyleSheet.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">*@
    @Styles.Render("~/Content/css")

    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
    @*<script src="~/Scripts/bootstrap.js"></script>
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
</head>

<body class="mainpage">
    <div id="fb-root"></div>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <h1 hidden>Косметика Kiko</h1>

    <header class="header">      
        <div class="menu_wrapper">
            <div class="menu about_production">О продукции</div>
            <div id="about_production" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <p class="modal-title">О продукции</p>
                        </div>
                        <div class="modal-body">@Html.Action("AboutProduction", "Home")</div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <div class="menu delivery_info">Доставка</div>
            <div id="delivery_info" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <p class="modal-title">Доставка</p>
                        </div>
                        <div class="modal-body">@Html.Action("DeliveryInfo", "Home")</div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <div class="menu make_order_info">Оформление заказа</div>
            <div id="make_order_info" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <p class="modal-title">Оформление заказа</p>
                        </div>
                        <div class="modal-body">@Html.Action("MakeOrderInfo", "Home")</div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <div class="menu contacts">Контакты</div>
            <div id="contacts" class="modal fade" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">x</button>
                            <p class="modal-title">Контакты</p>
                        </div>
                        <div class="modal-body">@Html.Action("Contacts", "Home")</div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </div>      
    </header>

    @Scripts.Render("~/Scripts/CommonJavascriptLibs")

    <div class="content">
        @RenderBody()
    </div>

    <div id="single_product_page" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <p class="modal-title">О товаре</p>
                </div>
                <div class="modal-body" id="page_product_info1"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    
    <div id="wait"></div>

    <div id="make_order_form1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="modal_order" style="min-width:800px">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <p class="modal-title">Оформление заказа</p>
                </div>
                <div class="modal-body" id="make_order_form"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/LayoutSitePage")

    @*<script>
        $(document).ready(function () {
            //Открываем корзину
            $("#cart").click(function () {
                $.ajax({
                    url: "@Url.Action("ShowFullCart","Cart")",
                    success: function (data) { $("#in_cart").html(data) }
                })
                $("#in_cart_modal").modal();
            });

            //Открываем информацию "О продукции"
            $(".about_production").click(function () {
                $("#about_production").modal();
            });

            //Открываем информацию "О доставке"
            $(".delivery_info").click(function () {
                $("#delivery_info").modal();
            });

            //Открываем информацию "Оформление заказа"
            $(".make_order_info").click(function () {
                $("#make_order_info").modal();
            });

            //Открываем информацию "Контакты"
            $(".contacts").click(function () {
                $("#contacts").modal();
            });
        });

        //функция открывает информацию о товаре
        function ShowProductInfo(productId, categoryId) {
            $.ajax({
                url: "@Url.Action("GetOneProductInfo", "Home")",
                data: { ProductId: productId, CategoryId: categoryId },
                success: function (data) {
                    $("#single_product_page").modal();
                    $("#page_product_info1").html(data)
                }
            });
        };

        //функция отображает сообщение "товар добавлен в корзину" при нажатии на кнопку "В корзину"
        function ShowMessageAddToCart() {
            $(this).parent().parent().children(".product_image").children(".message_add_to_cart").css("display", "block").fadeOut(2500);
        };

        //Функция закрытия ajax-loader по завершении запроса
        function CloseModalAjaxLoader(obj) {
            $("#wait").dialog("destroy");
            $(obj).parent().hide();
        };

        //Функция запуска ajax-loader при старте запроса
        function StartAjaxLoader() {
            $("#wait").dialog({ minWidth: 50, width: 50, minHeight: 60, height: 100, modal: true });
            $("#wait").dialog("widget").find(".ui-dialog-titlebar").hide();
        };
    </script>*@   
</body>
</html>
