@model IQueryable<DomainModel.Classes.Category>

@{
    Layout = null;
}

<div id="tabs">

    <ul class="nav nav-tabs">
        @{
            int counter = 1;
            foreach (var item in Model)
            {
                if (counter == 1)
                {
                    //hide parfums
                }
                else
                {
                    string str = "#tabs" + counter;
                    if (counter == 2)
                    {
                        <li class="category_list active"><a data-toggle="tab" href="@str">@item.CategoryName</a></li>
                    }

                    else
                    {
                        <li class="category_list"><a data-toggle="tab" href="@str">@item.CategoryName</a></li>
                    }
                }
                counter++;
            }
        }
    </ul>

    <div class="emptycart" id="cart"></div>
    <div class="infocart" id="infocart">@{Html.RenderAction("ShowCartOnPage", "Cart");}</div>

    <div id="in_cart_modal" class="modal fade in_cart" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class=" modal-content" style="min-width:600px">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">x</button>
                    <p class="modal-title"></p>
                </div>
                <div class="modal-body" id="in_cart"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="tab-content">
        @{
            counter = 1;
            foreach (var item in Model)
            {
                if (counter == 1)
                {
                    //hide parfums
                }

                else
                {
                    string id = "tabs" + counter;
                    string filter_class_name = "filter" + item.CategoryId;
                    string product_container_id = "product_container_CategoryId" + item.CategoryId;


                    if (counter == 2)
                    {
                        <div id="@id" class="tab-pane fade in active total_container">

                            <div class="@filter_class_name">@Html.Action("FilterCategoryId" + item.CategoryId, "Home", new { item.CategoryId })</div>

                            <div class="product_container" id="@product_container_id">
                                @Html.Action("GetNotAllProductsToClient", "Home", new { item.CategoryId })
                            </div>

                            @*Your share button code*@
                            <div class="fb-share-button" style="float:left; margin-top:2%; margin-left:-1%"
                                 data-href="http://levisage.com.ua"
                                 data-layout="button_count">
                            </div>

                            <div style="clear:both; float:none"></div>
                            <br />
                            <div id="btn + @item.CategoryId" class="get_all_products_button">@Ajax.ActionLink("Показать все товары на одной странице", "GetProductsToClient", "Home", new { item.CategoryId }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = product_container_id, LoadingElementId = "wait", OnBegin = "StartAjaxLoader", OnComplete = "CloseModalAjaxLoader(this)" }, new { @class = "text_in_get_all_products_button" })</div>
                        </div>
                    }

                    else
                    {
                        <div id="@id" class="tab-pane fade total_container">

                            <div class="@filter_class_name">@Html.Action("FilterCategoryId" + item.CategoryId, "Home", new { item.CategoryId })</div>

                            <div class="product_container" id="@product_container_id">
                                @Html.Action("GetNotAllProductsToClient", "Home", new { item.CategoryId })
                            </div>

                            @*Your share button code*@
                            <div class="fb-share-button" style="float:left; margin-top:2%; margin-left:-1%"
                                 data-href="http://levisage.com.ua"
                                 data-layout="button_count">
                            </div>

                            <div style="clear:both; float:none"></div>
                            <br />
                            <div id="btn + @item.CategoryId" class="get_all_products_button">@Ajax.ActionLink("Показать все товары на одной странице", "GetProductsToClient", "Home", new { item.CategoryId }, new AjaxOptions() { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = product_container_id, LoadingElementId = "wait", OnBegin = "StartAjaxLoader", OnComplete = "CloseModalAjaxLoader(this)" }, new { @class = "text_in_get_all_products_button" })</div>
                        </div>
                    }

                }
                counter++;
            }
        }
    </div>
</div>

